name: "Wang Lab"
description: "This is the official web page for the Yong Wang Lab at ZJU."

url: "http://yongwangcph.github.io"

paginate: 5
plugins: [jekyll-paginate]
paginate_path: "news/page:num"

permalink: pretty
markdown: kramdown
kramdown:
  parse_block_html: true

exclude:
        - .sass-cache/
        - .jekyll-cache/
        - gemfiles/
        - Gemfile
        - Gemfile.lock
        - node_modules/
        - vendor/bundle/
        - vendor/cache/
        - vendor/gems/
        - vendor/ruby/

collections:
        members:
                output: true
        publications:
                output: true
        alumni:
                output: true
        sep:
                output: true
        visitors:
                output: true

theme: jekyll-theme-minimal
