<h2>Contact Us</h2>
<p>
Yong Wang, Ph.D. <br>
(Tenure-track) Associate Professor <br>
College of Life Sciences <br>
Institute of Quantitative Biology (IQB) <br>
Shanghai Institute for Advanced Study <br>
<br>
email: wyongciac (#!) gmail.com <br>
<br>
688 Yuhangtang Road, Hangzhou <br>
</p>

<p>
 <h3> Interested in joining the Wang lab? </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join"><b>so please reach out!</b></a> We welcome applicants from all backgrounds.<br>
</p>

<p>
 <h3> See our <a href="{{ site.url }}/compact/">lab philosophy</a></h3>

</p>


<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
